body {
    font-family: Arial;
    text-align: center;
    padding: 100px;
    background: #f4f4f4;
}

.container {
    background: white;
    padding: 30px;
    display: inline-block;
    border-radius: 10px;
}

input, select, button {
    padding: 10px;
    margin: 10px;
}
